


<header id="header" class="header header--fixed hide-from-print" role="banner">
    <div class="container" >
    
        <nav id="nav" class="" role="navigation">
            <ul class="nav">
                <li class="nav__item ">
                    <a class="header__link" href="index.html">
                        <span aria-hidden="true" class="icon icon--gh"></span>
                        <span class="complimentary push--left">home</span>
                    </a>
                </li>
                <li class="nav__item ">
                    <a class="header__link" href="about.html">
                        <span aria-hidden="true" class="icon icon--gh"></span>
                        <span class="complimentary push--left">about</span>
                    </a>
                </li>
                <li class="nav__item ">
                    <a class="header__link" href="http://www.twitter.com/WickyNilliams">
                        <span aria-hidden="true" class="icon icon--tw"></span>
                        <span class="complimentary push--left">@WickyNilliams</span>
                    </a>
                </li>
            </ul>
        </nav>
        
        <a href="index.html" class="brand header__link">
            <b class="brand__forename">ayuplus</b><b class="brand__surname">.io</b>
        </a>
    </div>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.min.js"></script>
<script>
(function() {
    var header = document.querySelector("#header");

    if(window.location.hash) {
      header.classList.add("headroom--unpinned");
    }

    var headroom = new Headroom(header, {
        tolerance: {
          down : 10,
          up : 20
        },
        offset : 205
    });
    headroom.init();

}());
</script>
